<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<html>
<head>
<style type="text/css">
div{
	margin: 0px auto;
	width: 50%;
	text-align: left;
	border-color: #9dd7b1;
}
</style>
<meta charset="UTF-8">
<title>bar.html</title>
</head>
<body>
<div>
	<h1 class="animated bounce">Bar Chart of Thymeleaf </h1>
	<p>부서별 직원 급여 차트</p>
	<hr>
	<h3 th:inline="text">[[${depts[0].deptno}]][[${depts[0].dname}]]</h3>
	
	<canvas id="dept01"></canvas>
	<hr>
	<h3 th:inline="text">[[${depts[1].deptno}]] [[${depts[1].dname}]]</h3>
	<canvas id="dept02"></canvas>
	<hr>
	<h3 th:inline="text">[[${depts[2].deptno}]][[ ${depts[2].dname}]]</h3>
	<canvas id="dept03"></canvas>

<!-- toJson을 자동적으로 만들어줌 -->
	<script type="text/javascript" th:inline="javascript">
		var data01 = [[${bars[0]}]];
		var ctx = document.getElementById("dept01").getContext("2d");
		new Chart(ctx, data01);
		
		var data02 = [[${bars[1]}]];
		var ctx = document.getElementById("dept02").getContext("2d");
		new Chart(ctx, data02);
		
		var data03 = [[${bars[2]}]];
		var ctx = document.getElementById("dept03").getContext("2d");
		new Chart(ctx, data03);
	</script>
</div>
</body>
</html>